<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,1},{223,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,224}}</string>
                <key>sourceSize</key>
                <string>{223,224}</string>
            </dict>
            <key>item_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{225,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>item_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>item_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>item_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>item_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>item_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1},{225,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>item_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1},{225,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>item_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1},{225,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item_frame_HD.png</string>
            <key>size</key>
            <string>{2037,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3535992476197ec4427ebef7e264cae:04b7c25aa2f2398b7efc292fb802da8e:28002a29d461cf8210085792fcc12cd2$</string>
            <key>textureFileName</key>
            <string>item_frame_HD.png</string>
        </dict>
    </dict>
</plist>
