<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,656}}</string>
                <key>sourceSize</key>
                <string>{1280,656}</string>
            </dict>
            <key>item_category_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,928},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>item_slot_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,714},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>item_slot_unset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,714},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>largebutton_label_abilitycrystallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{592,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,208}}</string>
                <key>sourceSize</key>
                <string>{592,208}</string>
            </dict>
            <key>largebutton_label_craft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{592,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,208}}</string>
                <key>sourceSize</key>
                <string>{592,208}</string>
            </dict>
            <key>largebutton_label_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,714},{496,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,80}}</string>
                <key>sourceSize</key>
                <string>{496,80}</string>
            </dict>
            <key>largebutton_label_equiplist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,2},{592,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,208}}</string>
                <key>sourceSize</key>
                <string>{592,208}</string>
            </dict>
            <key>largebutton_label_itemlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,660},{592,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,208}}</string>
                <key>sourceSize</key>
                <string>{592,208}</string>
            </dict>
            <key>largebutton_label_materiallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,212},{592,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,208}}</string>
                <key>sourceSize</key>
                <string>{592,208}</string>
            </dict>
            <key>largebutton_label_visioncardlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,212},{592,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,208}}</string>
                <key>sourceSize</key>
                <string>{592,208}</string>
            </dict>
            <key>largebutton_label_visioncardpowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,796},{496,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,80}}</string>
                <key>sourceSize</key>
                <string>{496,80}</string>
            </dict>
            <key>largebutton_slim_label_abilitycrystallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{592,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,144}}</string>
                <key>sourceSize</key>
                <string>{592,144}</string>
            </dict>
            <key>largebutton_slim_label_craft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,422},{592,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,144}}</string>
                <key>sourceSize</key>
                <string>{592,144}</string>
            </dict>
            <key>largebutton_slim_label_equiplist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,422},{592,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,144}}</string>
                <key>sourceSize</key>
                <string>{592,144}</string>
            </dict>
            <key>largebutton_slim_label_itemlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,870},{592,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,144}}</string>
                <key>sourceSize</key>
                <string>{592,144}</string>
            </dict>
            <key>largebutton_slim_label_materiallist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,568},{592,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,144}}</string>
                <key>sourceSize</key>
                <string>{592,144}</string>
            </dict>
            <key>largebutton_slim_label_visioncardlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,568},{592,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,144}}</string>
                <key>sourceSize</key>
                <string>{592,144}</string>
            </dict>
            <key>minibutton_label_deckriset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,878},{264,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,48}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
            <key>minibutton_label_itemfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2172,714},{264,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,48}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item_HD.png</string>
            <key>size</key>
            <string>{2472,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab288cf52d937f1d4a746bec11137b97:0307548d9aa4d1aa373bc7ae0c7a7f8d:0b9f3a2e2703d2d30f1c068010380017$</string>
            <key>textureFileName</key>
            <string>item_HD.png</string>
        </dict>
    </dict>
</plist>
