<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ability_awake_statusbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,594},{320,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,16}}</string>
                <key>sourceSize</key>
                <string>{320,16}</string>
            </dict>
            <key>ability_awake_unitstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1},{488,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,48}}</string>
                <key>sourceSize</key>
                <string>{488,48}</string>
            </dict>
            <key>abilityawake_header_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,348},{640,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,46}}</string>
                <key>sourceSize</key>
                <string>{640,46}</string>
            </dict>
            <key>arrowblue_large_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,571},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>arrowblue_large_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,292},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>awake_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,563},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>unit_bondsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1},{640,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,106}}</string>
                <key>sourceSize</key>
                <string>{640,106}</string>
            </dict>
            <key>unit_chara_label_job.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,312},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>unit_chara_label_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,559},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>unit_charastand_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,141},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,121},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,121},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,421},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_ep_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,171},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>unit_eqpossible_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,110},{640,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,58}}</string>
                <key>sourceSize</key>
                <string>{640,58}</string>
            </dict>
            <key>unit_equip_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,341},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>unit_equip_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,339},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>unit_evo_statusframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,141},{168,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,197}}</string>
                <key>sourceSize</key>
                <string>{168,197}</string>
            </dict>
            <key>unit_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,639},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_exp_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,646},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_exp_bar_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,505},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,613},{354,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,10}}</string>
                <key>sourceSize</key>
                <string>{354,10}</string>
            </dict>
            <key>unit_exp_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,626},{354,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,10}}</string>
                <key>sourceSize</key>
                <string>{354,10}</string>
            </dict>
            <key>unit_expbonus_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,512},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_expbonus_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,519},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_icon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,592},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>unit_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,592},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>unit_limit_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,526},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_limit_exp_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,533},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_minibutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,414},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>unit_minibutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,586},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>unit_partybg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,397},{640,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,16}}</string>
                <key>sourceSize</key>
                <string>{640,16}</string>
            </dict>
            <key>unit_partybg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,230},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>unit_partylock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,292},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_partylock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,485},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_partyname.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,528},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_partyname_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,593},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_partyname_edit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,335},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_powerup_subtitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,540},{240,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>unit_resist_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,490},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_resist_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,586},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_resist_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,586},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_slot_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,416},{304,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,86}}</string>
                <key>sourceSize</key>
                <string>{304,86}</string>
            </dict>
            <key>unit_slot_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,52},{304,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,86}}</string>
                <key>sourceSize</key>
                <string>{304,86}</string>
            </dict>
            <key>unit_slot_button_violet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,505},{304,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,86}}</string>
                <key>sourceSize</key>
                <string>{304,86}</string>
            </dict>
            <key>unit_slot_button_violet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,416},{304,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,86}}</string>
                <key>sourceSize</key>
                <string>{304,86}</string>
            </dict>
            <key>unit_slotbg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,289},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>unit_slotname.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,378},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_slotname_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,571},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_slotname_edit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,614},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_status_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,421},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>unit_status_button_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,52},{234,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,66}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>unit_status_button_big_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,416},{234,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,66}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>unit_status_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,490},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>unit_statusbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,332}}</string>
                <key>sourceSize</key>
                <string>{640,332}</string>
            </dict>
            <key>unit_unitdetailbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,336},{640,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,224}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_ext2.png</string>
            <key>size</key>
            <string>{1921,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04cfe8ee669936b7a24b8e583a184e37:2fe89df064be23a1ecc30622171f228c:d03e13971512f089ff34bd39032d4add$</string>
            <key>textureFileName</key>
            <string>unit_ext2.png</string>
        </dict>
    </dict>
</plist>
