<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_bondsbg_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,212}}</string>
                <key>sourceSize</key>
                <string>{1280,212}</string>
            </dict>
            <key>unit_evodetail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{1280,984}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,984}}</string>
                <key>sourceSize</key>
                <string>{1280,984}</string>
            </dict>
            <key>unit_infoup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1201},{1280,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,216}}</string>
                <key>sourceSize</key>
                <string>{1280,216}</string>
            </dict>
            <key>unit_namebg_chara.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1419},{1120,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,144}}</string>
                <key>sourceSize</key>
                <string>{1120,144}</string>
            </dict>
            <key>unit_resistbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1565},{1280,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,464}}</string>
                <key>sourceSize</key>
                <string>{1280,464}</string>
            </dict>
            <key>unit_skillbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2031},{1280,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,257}}</string>
                <key>sourceSize</key>
                <string>{1280,257}</string>
            </dict>
            <key>unit_skillbg_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2290},{1280,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,184}}</string>
                <key>sourceSize</key>
                <string>{1280,184}</string>
            </dict>
            <key>unit_status_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2476},{1280,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,99}}</string>
                <key>sourceSize</key>
                <string>{1280,99}</string>
            </dict>
            <key>unit_statusbottomline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2577},{1280,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,161}}</string>
                <key>sourceSize</key>
                <string>{1280,161}</string>
            </dict>
            <key>unit_statusframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2740},{880,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,269}}</string>
                <key>sourceSize</key>
                <string>{880,269}</string>
            </dict>
            <key>unit_transform_material_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3011},{1280,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,456}}</string>
                <key>sourceSize</key>
                <string>{1280,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_HD.png</string>
            <key>size</key>
            <string>{1282,3468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa8ffadb3f2ea5567742cb8899a670d:cb1512a594738953071c3e9b66241463:4b4499be38082a30fe28459e19b4923a$</string>
            <key>textureFileName</key>
            <string>unit_HD.png</string>
        </dict>
    </dict>
</plist>
