<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_charastand_common_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_common_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_common_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,341},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_common_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,341},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare1_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,341},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare1_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,341},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare1_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,511},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare2_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,558},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare2_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,511},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare2_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,511},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare3_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,511},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare3_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,511},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare3_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,681},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare4_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,728},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare4_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,681},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare4_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,681},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare5_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,171},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare5_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,681},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare5_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,681},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare5_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,851},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare6_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,218},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare6_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,898},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare6_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,851},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare6_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,851},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare7_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,171},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rare7_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,851},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare7_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,851},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rare7_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1021},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_raremc_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,215}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>unit_charastand_raremc_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,171},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>unit_charastand_raremc_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,171},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>unit_charastand_raremc_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,341},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{155,168}</string>
            </dict>
            <key>unit_charastand_rarenv_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,171},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_rarenv_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1068},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rarenv_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1021},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_rarenv_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1021},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_charastand.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd0da88dc58d0842dc92fee914cdf8dd:2bdf589bca42a2abd814a48487469772:8c9f2d4e681273f6cdef5fc98d4b14e5$</string>
            <key>textureFileName</key>
            <string>unit_charastand.png</string>
        </dict>
    </dict>
</plist>
