<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_another.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_attack_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_attack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_ff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff10.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,163},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,163},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff11.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,163},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff12rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,213},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff13.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,213},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,213},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff13lr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff14.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,263},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff15.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,263},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,63},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff4ta.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,63},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,63},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,113},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff7ac.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,113},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,113},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ff9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ffbe.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,263},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ffbewotv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_ffreisiki.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,313},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>unit_fft.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,313},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_ext4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfc27da6a254c027ef9b4e77499a07d0:1ee2c886290711cada107e4766c865be:3ca068b1fa37d4bb779c49eb8fa07a9e$</string>
            <key>textureFileName</key>
            <string>unit_ext4.png</string>
        </dict>
    </dict>
</plist>
