<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chain_ability_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,35},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1},{51,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{51,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,35},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,35},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,35},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,35},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,35},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,35},{39,32}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,35},{45,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,69},{39,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>chain_ability_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,69},{41,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_ext5.png</string>
            <key>size</key>
            <string>{393,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:971155568cb4d00cd79f01011d6687c4:26f81cc6103e44f451dc577033ce26a8:82432b4f0dff70226c6571041cc828f3$</string>
            <key>textureFileName</key>
            <string>unit_ext5.png</string>
        </dict>
    </dict>
</plist>
