<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ability_awake_statusbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,123},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>ability_awake_unitstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2806},{976,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,96}}</string>
                <key>sourceSize</key>
                <string>{976,96}</string>
            </dict>
            <key>abilityawake_header_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2677},{1280,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,92}}</string>
                <key>sourceSize</key>
                <string>{1280,92}</string>
            </dict>
            <key>arrowblue_large_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,698},{88,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,153}}</string>
                <key>sourceSize</key>
                <string>{88,153}</string>
            </dict>
            <key>arrowblue_large_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,854},{88,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,153}}</string>
                <key>sourceSize</key>
                <string>{88,153}</string>
            </dict>
            <key>awake_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2035},{1280,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,176}}</string>
                <key>sourceSize</key>
                <string>{1280,176}</string>
            </dict>
            <key>unit_bondsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1819},{1280,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,213}}</string>
                <key>sourceSize</key>
                <string>{1280,213}</string>
            </dict>
            <key>unit_chara_label_job.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1010},{288,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,48}}</string>
                <key>sourceSize</key>
                <string>{288,48}</string>
            </dict>
            <key>unit_chara_label_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1061},{288,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,48}}</string>
                <key>sourceSize</key>
                <string>{288,48}</string>
            </dict>
            <key>unit_charastand_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2196},{320,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,336}}</string>
                <key>sourceSize</key>
                <string>{320,336}</string>
            </dict>
            <key>unit_charastand_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1236},{296,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,336}}</string>
                <key>sourceSize</key>
                <string>{296,336}</string>
            </dict>
            <key>unit_charastand_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1575},{296,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,336}}</string>
                <key>sourceSize</key>
                <string>{296,336}</string>
            </dict>
            <key>unit_charastand_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2566},{296,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,336}}</string>
                <key>sourceSize</key>
                <string>{296,336}</string>
            </dict>
            <key>unit_ep_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2332},{1280,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,112}}</string>
                <key>sourceSize</key>
                <string>{1280,112}</string>
            </dict>
            <key>unit_eqpossible_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2214},{1280,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,115}}</string>
                <key>sourceSize</key>
                <string>{1280,115}</string>
            </dict>
            <key>unit_equip_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1886},{340,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,144}}</string>
                <key>sourceSize</key>
                <string>{340,144}</string>
            </dict>
            <key>unit_equip_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1914},{340,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,144}}</string>
                <key>sourceSize</key>
                <string>{340,144}</string>
            </dict>
            <key>unit_evo_statusframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2033},{337,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,394}}</string>
                <key>sourceSize</key>
                <string>{337,394}</string>
            </dict>
            <key>unit_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,113},{693,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,7}}</string>
                <key>sourceSize</key>
                <string>{693,7}</string>
            </dict>
            <key>unit_exp_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,47},{693,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,8}}</string>
                <key>sourceSize</key>
                <string>{693,8}</string>
            </dict>
            <key>unit_exp_bar_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,58},{693,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,8}}</string>
                <key>sourceSize</key>
                <string>{693,8}</string>
            </dict>
            <key>unit_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,24},{708,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,20}}</string>
                <key>sourceSize</key>
                <string>{708,20}</string>
            </dict>
            <key>unit_exp_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1},{709,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,20}}</string>
                <key>sourceSize</key>
                <string>{709,20}</string>
            </dict>
            <key>unit_expbonus_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,69},{693,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,8}}</string>
                <key>sourceSize</key>
                <string>{693,8}</string>
            </dict>
            <key>unit_expbonus_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,80},{693,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,8}}</string>
                <key>sourceSize</key>
                <string>{693,8}</string>
            </dict>
            <key>unit_icon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,123},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>unit_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,595},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>unit_limit_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,91},{693,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,8}}</string>
                <key>sourceSize</key>
                <string>{693,8}</string>
            </dict>
            <key>unit_limit_exp_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,102},{693,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,8}}</string>
                <key>sourceSize</key>
                <string>{693,8}</string>
            </dict>
            <key>unit_minibutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1112},{192,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,121}}</string>
                <key>sourceSize</key>
                <string>{192,121}</string>
            </dict>
            <key>unit_minibutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,2566},{192,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,119}}</string>
                <key>sourceSize</key>
                <string>{192,119}</string>
            </dict>
            <key>unit_partybg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2772},{1280,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,31}}</string>
                <key>sourceSize</key>
                <string>{1280,31}</string>
            </dict>
            <key>unit_partybg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2447},{1280,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,112}}</string>
                <key>sourceSize</key>
                <string>{1280,112}</string>
            </dict>
            <key>unit_partylock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1222},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_partylock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1305},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_partyname.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1388},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_partyname_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1471},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_partyname_edit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1554},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_powerup_subtitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,858},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,100}</string>
            </dict>
            <key>unit_resist_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,472},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>unit_resist_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,226},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>unit_resist_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,349},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>unit_slot_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,158},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,172}}</string>
                <key>sourceSize</key>
                <string>{608,172}</string>
            </dict>
            <key>unit_slot_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,333},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,172}}</string>
                <key>sourceSize</key>
                <string>{608,172}</string>
            </dict>
            <key>unit_slot_button_violet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,508},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,172}}</string>
                <key>sourceSize</key>
                <string>{608,172}</string>
            </dict>
            <key>unit_slot_button_violet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,683},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,172}}</string>
                <key>sourceSize</key>
                <string>{608,172}</string>
            </dict>
            <key>unit_slotbg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2562},{1280,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,112}}</string>
                <key>sourceSize</key>
                <string>{1280,112}</string>
            </dict>
            <key>unit_slotname.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1637},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_slotname_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1720},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_slotname_edit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1803},{440,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,80}}</string>
                <key>sourceSize</key>
                <string>{440,80}</string>
            </dict>
            <key>unit_status_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2061},{321,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,132}}</string>
                <key>sourceSize</key>
                <string>{321,132}</string>
            </dict>
            <key>unit_status_button_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1097},{467,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,122}}</string>
                <key>sourceSize</key>
                <string>{467,122}</string>
            </dict>
            <key>unit_status_button_big_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,961},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>unit_status_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2430},{320,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,133}}</string>
                <key>sourceSize</key>
                <string>{320,133}</string>
            </dict>
            <key>unit_statusbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,700},{1280,665}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,665}}</string>
                <key>sourceSize</key>
                <string>{1280,665}</string>
            </dict>
            <key>unit_top_submenubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,696}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,696}}</string>
                <key>sourceSize</key>
                <string>{1280,696}</string>
            </dict>
            <key>unit_unitdetailbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1368},{1280,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,448}}</string>
                <key>sourceSize</key>
                <string>{1280,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_ext2_HD.png</string>
            <key>size</key>
            <string>{2043,2903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:142ec907567eea5bac9ae36e824c742b:86f1f2e89cac01dac1f64faa51620804:26b792216a732788b4bf03cb83bf2d6b$</string>
            <key>textureFileName</key>
            <string>unit_ext2_HD.png</string>
        </dict>
    </dict>
</plist>
