<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_affinity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_description.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{33,1},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_evolution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,38}</string>
                <key>spriteSourceSize</key>
                <string>{47,38}</string>
                <key>textureRect</key>
                <string>{{73,1},{47,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fusion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{122,1},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_summon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{16,38}</string>
                <key>textureRect</key>
                <string>{{164,1},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,51}</string>
                <key>spriteSourceSize</key>
                <string>{116,51}</string>
                <key>textureRect</key>
                <string>{{1,41},{116,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,63}</string>
                <key>spriteSourceSize</key>
                <string>{116,63}</string>
                <key>textureRect</key>
                <string>{{119,41},{116,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>unit_desc.png</string>
            <key>size</key>
            <string>{236,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f4d7dbd115ae42de3bec2bc14bcc861:2b1e068179bdbfd79e789ebb19605785:cc56d46de72e999055d73861caa617df$</string>
            <key>textureFileName</key>
            <string>unit_desc.png</string>
        </dict>
    </dict>
</plist>
